@import "../const.scss";

.device-title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 2rem;

  div:first-child {
    font-weight: 900;
    font-size: 1.2rem;
    white-space: nowrap;
  }

  > div:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2rem;
  }
}
