@import "../const.scss";

$device-field-width: 42rem;
$device-field-width-1st-col: 9rem;
$device-card-field: 6rem;
$device-card-input: 6rem;
$device-card-minimized: 9rem;
$device-card-button-size: 2.5rem;

$device-card-title-width: 350px; //250px;
$device-card-title-width-text: 320px; //220px;
.device-field-card {
  padding: $sm-gutter $sm-gutter 0 $sm-gutter;
  overflow-wrap: break-word;
  background-color: $app-clr-2;
  color: $app-white;
  border-radius: $border-radius;
  min-width: $device-field-width;
  max-width: $device-field-width;
  overflow: hidden;
  margin-bottom: $md-gutter;
  margin-right: $md-gutter;
}

.device-field-card-small {
  height: $device-card-minimized;
}

.df-card-header {
  display: flex;
  justify-content: space-between;

  .df-card-menu {
    width: 0;
  }

  .df-card-title {
    display: flex;
    width: $device-card-title-width;

    .df-card-title-chveron {
      margin-top: 1px;
      width: $xl-gutter;
      cursor: pointer;
    }

    .df-card-title-text {
      * {
        width: $device-card-title-width-text;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      div:first-child {
        color: $app-clr-4;
        font-size: 0.7rem;
        font-weight: 700;
      }
      div:nth-child(2) {
        color: $app-white;
        font-weight: 600;
        font-size: 0.95rem;
      }
    }
  }

  .df-card-value {
    text-align: center;
    div:first-child {
      color: $app-clr-4;
      font-size: 0.7rem;
      font-weight: 700;
    }
    div:nth-child(2) {
      font-size: 0.9rem;
    }
  }

  .df-card-cmd {


    button {
      width: $device-card-button-size;
      height: $device-card-button-size;
    }
  }
}

.df-card-row {
  font-size: 0.8rem;
  font-weight: 700;

  display: flex;
  margin-top: $md-gutter;
  margin-bottom: $xl-gutter;
  padding-left: $xl-gutter;

  input[type="text"],
  input[type="number"] {
    width: $device-card-input;
    margin-right: $xs-gutter;
  }

  .single-width {
    width: $device-card-field !important;
    margin-right: 0.3rem;
  }

  .double-width {
    width: ($device-card-field * 2) !important;
    margin-right: 0.3rem;
  }

  .third-width {
    width: ($device-card-field * 3) !important;
    margin-right: 0.3rem;
  }

  .full-width {
    width: ($device-card-field * 4) !important;
  }

  textarea:focus {
    margin-bottom: 0;
  }

  .single-item {
    align-self: flex-end;
  }

  .custom-textarea-xsm {
    width: ($device-card-field * 4);
  }
}

.df-card-row > div:nth-child(1) {
  width: $device-field-width-1st-col;
  color: $app-clr-yellow-1;
}
