@import "../const.scss";

.shell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.shell-content {
  background-color: $app-clr-0;
  color: $app-white;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
}

.shell-content-worldview {
  background-color: $app-clr-0;
  color: $app-white;
  width: 100%;
  height: 100%;
}

.shell-content-selector {
  border-right: $border-thicker solid $app-clr-3;
}

.console-line {
  cursor: pointer;
}

.console-line:hover {
  background-color: $app-clr-2;
}
