@import '../../consts.scss';

.card {
    width: 140px;
    padding: 15px;
    overflow-wrap: break-word;
    background-color: $app-clr-2;
    border: 2px solid $app-clr-0;
    color: white;

    .card-text {
        font-size: 0.8em;
    }
    .card-type {
        margin-top: 8px;
        font-weight: 800;
        text-transform: uppercase;
        color: $app-clr-yellow-1;
    }
    margin-bottom: $sm-gutter;
    transition: background-color 0.2s ease;
}

.card-active {
    background-color: $app-clr-0;
}

.card:hover {
    cursor: pointer;
    background-color: $app-blue-6;
    color: $app-font-color-1;
    
    .card-type {
        color: $app-font-color-1;
    }
}
