@import '../../consts.scss';

.app {
    height: 100%;
}

.layout {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.console-window {
    flex-shrink: 0;
    display: flex;
    z-index: $order-floating;
    overflow: hidden;
    font-family: "Courier New", courier, serif;
    color: limegreen;    
    background-color: #000;   
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    padding-left: 30px;    
    .console-toggle {
        position: fixed;
        left: 5;
        margin-left: -18px;
        cursor: pointer;
    }
    .console-messages {
        div {
            white-space: nowrap;
        }
    }  
    .ellipsis {
        width: calc(100vw - 45px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }      
}

.console-window-tall {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-window {
    flex-grow: 1;
    min-height: 0;
    height: 100%;

    display: flex;
    background-color: #fff;
    border-top: 1px solid  $app-clr-0;

    .inner-content-window {
        display: flex;
        width: 100%;
    }
}

.menu-panel {    
    text-align: center;     
    min-width: 70px; 
    max-width: 70px; 
    background-color: $app-clr-1; 
    padding: $xs-gutter;
    margin-top: -5px;
    overflow: hidden;
 
    .menu-btn:not(:last-child) {
       margin-bottom: $sm-gutter;
    }
    .menu hr {
        margin: 0 0 $md-gutter 0;
        border-color: $app-clr-blue-1;
    }
    .menu hr:first-child {
        margin: 0 5px 10px 5px;
    }
}

.device-cardlist-panel {
    z-index: $order-floating;
    text-align: center;
    background-color: $app-clr-2;     
    min-width: 170px;
}
 
.device-cardlist-scroller {    
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.device-cardlist-scroller-header {
    flex-shrink: 0;
    border-right: 2px solid $app-clr-0;
}

.device-cardlist-scroller-body {
    flex-grow: 1;
    min-height: 0;
    height: 100%;
    overflow-y: auto;
    padding: 0 15px;
    border-right: 2px solid $app-clr-0;
}

.device-instance-panel {     
    text-align: left;
    height: 100%;
    width: 100%;
    background-color: $app-clr-3; 
}
 
.device-instance-scroller {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.device-instance-scroller-header {
    flex-shrink: 0;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}
.device-instance-scroller-body {
    flex-grow: 1;
    min-height: 0;
    height: 100%;

    overflow-y: auto;
    padding: 10px 20px;
}

.device-instance-properties {
    display: flex;
    flex-flow: wrap;
}

.help {
    background-color: $app-clr-3;
    padding: $sm-gutter;
    overflow-y: auto;
    em {
        font-weight: bolder;
    }
    pre {
        margin: 10px auto; 
        width: 90%;
        padding: 10px;
        border: 1px solid black;
        background-color:  $app-grey-2;
        color: white;
    }
    .help-row:first-child {
        margin-top: -10px;
    }
    .help-row {
        h2 {
            color: $app-clr-yellow-1;            
        }
        h4 {
            margin-top: 30px;
            color: $app-clr-yellow-1;            
        }
        h5 {
            color: $app-grey-4;
        }
    }
}


    // .device-instance-properties {
    //     overflow-x: hidden;
    //     overflow-y: scroll; 
    //     height: calc(100vh - 135px);
    //     padding: 0 13px 0 0;
    //     margin-right: -30px;
    //     margin-top: $sm-gutter;
    // }
    // .device-instance-properties-advanced {
    //     height: calc(100vh - 425px);

    // }
    // .device-instance-properties-toggler {
    //     margin-top: $xs-gutter;
    //     display: flex;
    //     align-content: center;
    //     justify-content: space-between;
    // }

    // .device-instance-property-container {
    //     background-color: $app-yellow-4;
    //     margin-bottom: $md-gutter;
    //     overflow: hidden;
    // }
    // .device-instance-advanced {
    //     margin-top: $sm-gutter;        
    //     color: white;
        
    //     .property-type-form {
    //         background-color: $app-grey-3;
    //     }

    // }
//}