@import '../../consts.scss';

.app {
    height: 100%;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.console-window {
    flex-shrink: 0;

    display: flex;
    font-family: "Courier New", courier, serif;
    color: limegreen;
    z-index: 999999;
    background-color: #000;   
    opacity: 0.92; 
    font-size: 13px;
    font-weight: 700;
    height: 20px;
    padding-left: 10px;    
    .console-toggle {
        width: 15px;
    }
    .console-messages {
        div {
            white-space: nowrap;
        }
    }    
}

.console-window-tall {
    height: 300px;
}

.content-window {
    flex-grow: 1;
    min-height: 0;
    height: 100%;

    display: flex;
    overflow: hidden;
    background-color: #fff;

    .menu-panel {
         padding: $sm-gutter; 
         width: 70px; 
         background-color: $app-grey-1; 
         text-align: center; 
         z-index: 1000;
        
         .menu-btn:not(:last-child) {
            margin-bottom: $sm-gutter;
         }
        
         .menu hr {
             margin: $xs-gutter 0 $md-gutter 0;
             border-color: $app-blue-3;
         }
    }

    .inner-content-window {
        display: flex;
        width: 100%;
    }
}

.device-cardlist-panel {
    overflow-y: auto; 
    padding: $sm-gutter;
    min-width: 220px;
    background-color: $app-grey-3; 
}

.device-instance-panel {     
    overflow-y: auto; 
    padding: $sm-gutter;
    background-color: $app-grey-5; 
    color: white;
    width: 100%;
    h1,h2,h3,h4,h5 { color: $app-yellow-4 !important;}

    // .device-instance-properties {
    //     overflow-x: hidden;
    //     overflow-y: scroll; 
    //     height: calc(100vh - 135px);
    //     padding: 0 13px 0 0;
    //     margin-right: -30px;
    //     margin-top: $sm-gutter;
    // }
    // .device-instance-properties-advanced {
    //     height: calc(100vh - 425px);

    // }
    // .device-instance-properties-toggler {
    //     margin-top: $xs-gutter;
    //     display: flex;
    //     align-content: center;
    //     justify-content: space-between;
    // }

    // .device-instance-property-container {
    //     background-color: $app-yellow-4;
    //     margin-bottom: $md-gutter;
    //     overflow: hidden;
    // }
    // .device-instance-advanced {
    //     margin-top: $sm-gutter;        
    //     color: white;
        
    //     .property-type-form {
    //         background-color: $app-grey-3;
    //     }

    // }
}