@import "../const.scss";

.device-edge-empty {
  padding-right: $sm-gutter;
}

.device-edge-modules {
  .title {
    padding-bottom: $md-gutter;
  }
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .edge-module {
    max-width: 280px;
  }

  .edge-module:not(:last-child) {
    margin: 0 1rem 1rem 0;
  }

  h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .expander {
    padding-left: $xs-gutter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.6rem;
    cursor: default;
    font-size: 1rem;

    .btn-bar {
      align-items: center;
      div {
        margin-right: 0.5rem;
      }
    }
  }
}
