@import "../const.scss";

.device-toolbar-container {
  padding: $sm-gutter $md-gutter;
  border-bottom: 1px solid $app-clr-3;
  box-shadow: 0px 2px 3px 0px $app-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .order {
    display: flex;
    align-items: center;

    div:first-child {
      padding-right: $sm-gutter;
    }

    div:last-child {
      width: 80px;
    }
  }
}
