@import "../const.scss";

.device-toolbar-container {
  padding: $md-gutter $md-gutter $sm-gutter $md-gutter;
  border-bottom: 1px solid $app-clr-3;
  box-shadow: 0px 2px 3px 0px $app-shadow;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .type {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 100;
    color: $app-clr-4;
  }

  .plugin {
    margin-left: 0.5rem;
    padding: 0.25rem 1rem;
    font-size: 0.75rem;
    background-color: $app-clr-purple-3;
    color: $app-white;
    border-radius: 2px;
  }
}
