@import '../../consts.scss';

.device-instance-commands {
    padding: $sm-gutter;
    height: 60px;    
    color: white;
    border-bottom: 2px solid $app-clr-0;
}

.device-instance-commands-active {
    background-color: $app-grey-1;
 }
