@import '../../node_modules/react-tabs/style/react-tabs.scss';
@import './consts.scss';


/* -- overrides -- */
body {
    margin:0;padding:0;  
    background-color:  #000;  
}
span {
    font-size: 12px;
}
a, button {
    cursor: pointer;
}
label {
    font-size: 0.8em;
    font-weight: bolder;     
    margin:0;           
}
.form-check:not(:last-child) {
    margin-right: $sm-gutter;
}

/* -- common -- */
.full {
    width: 100%;
}

.custom-checkbox {
    margin-bottom: $sm-gutter;
}
.nowrap-textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}



.panel-dialog-full {
    position: fixed;
    max-width: 100%;
    top: 40px;
    left: 40px;
    textarea {        
        width: 100%;
    }
}
.panel-dialog-device {    
    max-height: calc(100vh - 30px);
}
.panel-dialog-eximport {
    min-width: 700px;    
    height: calc(100vh - 80px);
    textarea {
        height: calc(100vh - 280px);
        width: 100%;
    }
}
.panel-dialog-eximport-local {
    margin-top: $lg-gutter;
    margin-right: -17px;
    padding-right: 2px;
    overflow-y: scroll;
    height: calc(100vh - 280px);    
}
.panel-dialog-server {
    width: 968px !important;
}
.panel-dialog-iothub {
    width: calc(100vw - 80px);
    height: calc(100vh - 195px);
    margin: auto;    
}





.hub-service-client {
    .header {
        display: flex;
        justify-content: space-between;
    }
    .body {
        margin-top: 10px;

        display: flex;
         
         .item {
             flex-grow: 1;
             text-align: center;
             width:100%;
             margin: 0 10px;

             button {
                 margin-top: 10px;
             }

             textarea {
                 height: calc(100vh - 390px);
             }
         }

         .item:first-child {
             margin-left: 0;
         }

         .item:last-child {
            margin-right: 0;
        }
   }
   .footer {
       position: absolute;
       bottom: 10px;
       font-weight: bolder;
   }
}




.property-method {
    background-color: #FAD7A0;
}

.property-c2d {
    background-color: #FAE6A0;
}

.property-dirty {
    background-color: $app-red-6;
}

.property-fields-no-bottom {
    margin-bottom: 0 !important;
    
    .custom-checkbox {
        margin-bottom: 0 !important;
    }
}

.property-type {
    margin: $lg-gutter 0 0 0;

    p {
        margin: 0 0 5px 0;
    }
}

.property-type-form {
    align-items: flex-end;
    border: 1px solid #000;    
    padding: $sm-gutter;
    border-radius: $xs-gutter;
    background-color: #fff;
    margin-bottom: $lg-gutter;

    textarea {
        height: 160px;
    }
}



.toggle-link:hover {
    text-decoration: none;
}

.method-horizontal-fields {
    display: flex;
    flex-direction: row;

    *:not(:last-child) {
        margin-right: $sm-gutter;
    }
}


