@import './consts.scss';

body {
    color: white;
}

input[type='text'], input[type='text']:focus {
    background-color: $app-grey-3;
    color: #ced4da;
}

.custom-textarea , .custom-textarea:focus {
    background-color: $app-grey-3;
    color: #ced4da;    
}

.custom-select, .custom-select:focus {
    background-color: $app-grey-3;
    color: #ced4da;    
}

.btn-bar {
    display: flex;
    flex-wrap: nowrap;

    *:not(:last-child) {
        margin-right: $xs-gutter;
    }
}

.btn-bar-base-margin {
    * {
        margin-bottom: $xs-gutter;
    }
}

.active {
    background-color: $app-blue-3 !important;
    border-color: $app-blue-3 !important;
    color: $app-font-color-1;
}

.warning-active {
    background-color:$app-red-5 !important;
    border-color: $app-red-1 !important;
    color: $app-font-color-1;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blast-shield {
    z-index: $order-blastshield;
    position: absolute;
    left: 0;
    top:0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.85;
    transition: background-color 0.30s ease-in-out;
}

.section-title {
    text-align: center;
    font-size:  14px;
    color: white;
    padding: 15px;    
    text-transform: uppercase;
    font-weight: 800;    
}

.section-title-header {    
    text-align: left;    
    border-bottom: 2px solid $app-clr-0;
}

.section-title-menu {
    cursor: pointer;
    color: $app-clr-blue-1;
}

.help {
    margin-top:-5px;
    padding: $sm-gutter;
    em {
        font-weight: bolder;
    }
    pre {
        margin: 10px auto; 
        width: 90%;
        padding: 10px;
        border: 1px solid black;
        background-color:  $app-grey-2;
        color: white;
    }
    .help-row {
        h2 {
            color: $app-clr-yellow-1;            
        }
        h4 {
            margin-top: 30px;
            color: $app-clr-yellow-1;            
        }
        h5 {
            color: $app-grey-4;
        }
    }
}

.panel-dialog {
    z-index: $order-dialog;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 650px;
    padding: $lg-gutter;
    color: white;
    background-color: $app-grey-3;
    border: 1px solid $app-grey-4;
    border-radius: 3px;
}

.panel-dialog-close {
    margin-right: -10px;
    margin-top: -10px;
    cursor: pointer;
}

.add-dialog {
    text-align: left;
    width: 800px;
    height:600px;    
    display: flex;
    
    .add-dialog-nav  {
        text-align: center;
        width: 215;
        padding-right: 20px;
        border-right: 1px solid #ced4da;

        div {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 10px;             
            margin:0 10px 10px 10px;
        }

        div:not(:first-child) {
            margin-top:10px;
        }
        button { 
            width: 100%;
            margin-bottom: 8px;
        }
    }

    .add-dialog-content {
        padding: 0 0 20px 20px;
        width: 100%;

        .hub-devices {
            margin-right: -30px;
            padding-right: 20px;
            height: 375px;
            overflow-y: scroll;
        
            .conn-string {
                font-size: 0.6em;
                font-style: italic;
            }        
        }
        .hub-device-item {
            padding: $xs-gutter 0 $xs-gutter 0;
            border-top: 1px solid $app-grey-4;
        }
        .hub-device-item-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .hub-device-item-line {
            
            .line-item-link:hover {
                background-color: $app-yellow-3;
                cursor: pointer;
            }
        }


        .custom-select {
            width: 100%;
        }
        .sm {
            height: 140px;
        }
        .md {
            height: 280px;
        }
        .lg {
            height: 470px;
            white-space: nowrap;
            font-size: 11px;
        }
    }
}