@import "./const.scss";

body {
  font-family: "Roboto Mono";
  z-index: $order-base;
}

.section-title {
  text-align: center;
  font-size: 0.8rem;
  color: white;
  padding: $md-gutter $xs-gutter;
  text-transform: uppercase;
  font-weight: 700;
}

.section-title-nav {
  color: $app-clr-blue-1;
}

.section-title-header-active {
  background-color: $app-clr-1;
}

.btn-bar {
  display: flex;
  flex-flow: nowrap;
  button:not(:last-child) {
    margin-right: 5px;
  }
}

.inline-label-field {
  display: flex;
  justify-content: center;
  flex-flow: nowrap;
  > div,
  label {
    margin: 0 !important;
    margin-right: $sm-gutter !important;
  }
}

input[type="text"],
input[type="number"],
input[type="text"]:focus,
input[type="number"]:focus,
input[type="text"]:read-only,
input[type="number"]:read-only,
textarea:read-only {
  background-color: $app-clr-2 !important;
  color: $app-white !important;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
  cursor: not-allowed;
  color: $app-clr-4 !important;
}

.custom-textarea,
.custom-textarea:focus {
  background-color: $app-clr-2;
  color: $app-white;
  resize: none;
}

.custom-textarea:disabled {
  cursor: not-allowed;
}

.custom-textarea-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.custom-combo-sm {
  margin-top: -2px;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  padding-right: 1.6rem;
  font-size: 0.875rem;
}

.custom-select,
.custom-select:focus {
  background-color: $app-clr-2;
  color: $app-white;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  margin-top: 6px;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.selector-toggle {
  display: flex;
  i {
    cursor: pointer;
  }

  i:first-child {
    margin-right: 5px;
  }
}

button:disabled {
  cursor: not-allowed;
}
