/* margin */
$xs-gutter: 5px;
$sm-gutter: 10px;
$md-gutter: 15px;
$lg-gutter: 20px;

/* ordering */
$order-base: 0;
$order-floating: 10000;
$order-blastshield: 35000;
$order-dialog: 100000;

/* color */
$app-clr-0: #37373D;
$app-clr-1: #333333;
$app-clr-2: #252526;
$app-clr-3: #1E1E1E;
$app-clr-4: #888888;

$app-clr-blue-1: #0275D8;
$app-clr-blue-2: #062F4A;
$app-clr-yellow-1: #daba89;

$app-purple-1: #7e01ff;

$app-blue-1: #012340;
$app-blue-2: #01457F;
$app-blue-3: #0275D8;
$app-blue-4: #027CE5;
$app-blue-5: #028AFF;
$app-blue-6: #02A4FF;


$app-grey-1: #080808;
$app-grey-2: #141414;
$app-grey-3: #383838;
$app-grey-5: #5d5d5d;
$app-grey-4: #888888;


$app-green-1: #13331E;
$app-green-2: #08470C;

$app-red-1: #140704;
$app-red-2: #611A09;
$app-red-5: #FA4317;
$app-red-6: #ffe7e7;

$app-yellow-1: #f7d301;
$app-yellow-3: #FFF2CC;
$app-yellow-4: #FFFFDD;

$app-orange-1: #853000;
$app-orange-2: #FF5D00;
$app-orange-3: #FF8700;
$app-orange-4: #ffb200;

$app-font-color-1: #fff;