/* margin */
$xs-gutter: 0.3rem;
$sm-gutter: 0.5rem;
$md-gutter: 1rem;
$lg-gutter: 1.5rem;
$xl-gutter: 2rem;

/* sizes */
$width-nav: 60px;
$width-selector: 240px;
$width-content: 100%;
$border-radius: 0.2rem;
$border-thicker: 2px;
$title-height: 48px;

/* ordering */
$order-base: 0;
$order-level-1: 100;
$order-level-1: 200;
$order-floating: 500;
$order-blastshield: 750;
$order-dialog: 1000;

/* color */
$app-black: #000;
$app-white: #fff;
$app-shield: #111;
$app-shadow: rgba(0, 0, 0, 0.75);

$app-clr-0: #1e1e1e;
$app-clr-1: #252526;
$app-clr-2: #333333;
$app-clr-3: #37373d;
$app-clr-4: #888888;

$app-clr-blue-1: #0275d8;
$app-clr-blue-2: #6392c4;
$app-clr-blue-3: #162c35;
$app-clr-blue-4: #525c6a;
$app-clr-yellow-1: #daba89;
$app-clr-green-1: darkgreen;
$app-clr-green-2: #19ab27;
$app-clr-orange-1: orange;
$app-clr-red-1: red;
$app-clr-purple-1: #c15bb3;
