@import "../const.scss";

.dialog-add {
  height: 100%;

  .m-modal {
    min-height: $sm-gutter !important;

    .m-content {
      display: flex;
    }

    .m-close {
      min-height: 42px !important;
      padding-top: $md-gutter;
      padding-right: $md-gutter;
    }
  }

  .menu-vertical button {
    margin-bottom: $sm-gutter;
  }

  label {
    margin-left: 0 !important;
    color: $app-clr-yellow-1;
  }

  .error {
    color: $app-clr-red-1;
  }

  .container {
    font-size: 0.8rem;
    i {
      margin-top: $xs-gutter;
    }
  }

  .quick-url {
    color: $app-clr-blue-2;
  }

  .edge-modules-list {
    > span {
      font-size: 0.8rem;
    }
    > div {
      display: flex;
    }

    > div:not(:first-child) {
      margin-bottom: 0.5rem;
    }

    > div > *:nth-child(1) {
      width: 220px;
      margin-right: 0.5rem;
    }
  }
}
