@import "../const.scss";

.dialog-add {
  height: 100%;

  .m-modal {
    margin-top: $sm-gutter;

    .m-content {
      display: flex;
    }

    .m-close {
      padding-right: $md-gutter;
    }
  }

  .menu-vertical button {
    margin-bottom: $sm-gutter;
  }

  label {
    margin-left: 0 !important;
    color: $app-clr-yellow-1;
  }

  .error {
    color: $app-clr-red-1;
  }

  .container {
    font-size: 0.8rem;
    i {
      margin-top: $xs-gutter;
    }
  }
}
