@import "../const.scss";

.help {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.help-close {
  margin: 0.5rem 1rem 0 0;
  height: 1.4rem;
  flex-shrink: 0;
  align-self: flex-end;
  cursor: pointer;
}

.help-content {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 $md-gutter;

  h2,
  h3 {
    color: $app-clr-yellow-1;
  }
  h4,
  h5 {
    color: $app-clr-blue-2;
  }
  li {
    margin-bottom: 0.75rem;
  }
  pre {
    color: $app-white;
    background-color: $app-black;
    padding: 1rem;
  }
  hr {
    margin: 2rem 4rem;
    border: 1px solid white;
  }
}