@import "../const.scss";

/* shield */
.blast-shield {
  z-index: $order-blastshield;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: $app-shield;
  opacity: 0.92;
}

/* dialog types */
.app-modal {
  z-index: $order-dialog;
  position: absolute;
  background-color: $app-clr-2;
  color: $app-white;
  overflow: hidden;
}

.context-modal {
  top: 0;
  right: 0;
  width: calc(100vw - 40%);
  height: 100%;
  overflow-y: auto;
}

.context-modal-wide {
  width: calc(100vw - 20%);
}

.center-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 816px;
  height: 688px;
  border-radius: $xs-gutter;
}

.min-modal {
  width: 528px;
  height: auto;
}

/* dialog ui */

.m-modal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.m-close {
  text-align: right;
  i {
    cursor: pointer;
  }
}

.m-content {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
  h4 {
    margin-bottom: $md-gutter;
  }
}

.m-footer {
  margin-top: $lg-gutter;
  flex-shrink: 0;
  .form-group {
    margin-bottom: 0;
    justify-content: flex-end;
  }
}

.m-commands {
  align-self: flex-end;
}

.m-tabbed-nav {
  height: calc(100% - 25px);
  width: 250px;
  text-align: center;
  padding: 0 $lg-gutter;
  border-right: 1px solid $app-clr-4;
  label {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0 $sm-gutter $sm-gutter $sm-gutter;
  }
  label:not(:first-child) {
    margin-top: $sm-gutter;
  }
  button {
    width: 100%;
    margin-bottom: $xs-gutter;
    font-size: 0.7rem;
  }
}

.m-tabbed-panel {
  height: calc(100% - 25px);
  width: calc(100% - 250px);
  padding: 0 0 $md-gutter $lg-gutter;

  display: flex;
  flex-direction: column;

  .m-tabbed-panel-form {
    flex-grow: 1;
    overflow: auto;
    padding-right: $lg-gutter;
    label {
      font-weight: 700;
      font-size: 0.9rem;
      margin: 0 $xs-gutter $sm-gutter $sm-gutter;
    }
    .form-group {
      width: 100%;
      margin-bottom: 0.8rem;

      h4 {
        font-size: 1.3rem;
        margin-bottom: 0.9rem;
      }
    }
    .input-wide {
      padding-right: 0;
    }
  }

  .m-tabbed-panel-footer {
    padding-top: $sm-gutter;
    flex-shrink: 0;
    height: 2rem;
    align-self: flex-end;
    width: 100%;
  }
}

.ace_content {
  height: 400px;
}