@import "../const.scss";

.simulation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.simulation-close {
  margin: 0.5rem 1rem 0 0;
  height: 1.4rem;
  flex-shrink: 0;
  align-self: flex-end;
  cursor: pointer;
}

.simulation-content {
  flex-grow: 1;
  padding: 0 $md-gutter 0 $md-gutter;

  .editor {
    height: calc(100vh - 272px);
  }
}
.simulation-footer {
  flex-shrink: 0;
  padding: $md-gutter;
  display: flex;

  > div {
    margin-left: $sm-gutter;
    margin-top: $xs-gutter;
  }
  .error {
    color: $app-clr-red-1;
  }
}
