@import "../const.scss";

.simulation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.simulation-close {
    margin: 0.1rem 0.25rem;
    height: 1.4rem;
    flex-shrink: 0;
    align-self: flex-end;
    cursor: pointer;
  }
  
  .simulation-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 $md-gutter;

    textarea {
      height: calc(100vh - 280px)
    }
  }
  