@import "../const.scss";

.selector-container {
  background-color: $app-clr-1;
  width: $width-selector;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.selector-container-header {
  flex-shrink: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: $title-height;
  margin: 0 1rem 0 1rem;
}

.selector-container-body {
  width: inherit;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  height: 100%;
  overflow-y: auto;
  padding: 0 $md-gutter $md-gutter $md-gutter;
}

.selector-toggle {
  margin: $sm-gutter 0;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  color: $app-white;
}

.selector-toggle:focus {
  outline: none;
  box-shadow: 0 0 2px $app-clr-4;
}
