@import "../const.scss";

.selector-container {
  background-color: $app-clr-1;
  width: $width-selector;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.selector-container-header {
  flex-shrink: 0;
  height: $title-height;
}

.selector-container-body {
  width: inherit;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  min-height: 0;
  height: 100%;
  overflow-y: auto;
  padding: 0 $md-gutter;
}
