@import "../const.scss";

.expander {
  cursor: pointer;
  background-color: $app-clr-2;
  border-left: 2px solid $app-clr-2;
  border-top: 2px solid $app-clr-2;
  border-right: 2px solid $app-clr-2;
  color: $app-white;
  border-radius: $border-radius $border-radius 0 0;
  margin: 0;
  font-size: 0.4rem;
  padding: 0.1rem;
  height: 0.8rem;
  line-height: 0.3rem;
  i {
    margin: 0;
    padding: 0;
  }
}

.selector-card {
  overflow-wrap: break-word;
  border: 2px solid $app-clr-2;
  border-radius: 0 0 $border-radius $border-radius;
  margin-bottom: $md-gutter;
  h4,
  h5 {
    font-size: 1.2rem;
    color: $app-clr-yellow-1;
    text-transform: uppercase;
  }
  h5 {
    font-size: 1rem;
  }
}

.selector-card-spinner {
  padding: $sm-gutter;
}

.selector-card:hover {
  cursor: pointer;
  background-color: $app-clr-blue-1;
  color: $app-white;
}

.selector-card-active {
  background-color: $app-clr-0;
}

.selector-card-active-edge {
  background-color: $app-clr-0;
}

.selector-card-expanded {
  text-align: center;
  padding: $sm-gutter;
  overflow: hidden;

  strong {
    font-weight: 400;
  }

  .module-count {
    color: $app-clr-blue-2;
    font-size: 0.75rem;
    padding-bottom: 4px;
  }
}

.selector-card-mini {
  padding: $sm-gutter;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div:first-child {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  h5 {
    margin: 0;
    margin-left: $sm-gutter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.control {
  font-size: 0.8rem;
  padding: 0 $xs-gutter;
}
.control-ON {
  color: $app-clr-blue-1;
}
.control-OFF {
  color: $app-clr-4;
}
.control-INIT {
  color: $app-clr-blue-2;
}
.control-SUCCESS {
  color: $app-clr-green-1;
}
.control-CONNECTED {
  color: $app-clr-green-2;
}
.control-TRYING {
  color: $app-clr-orange-1;
}
.control-ERROR {
  color: $app-clr-red-1;
}
.control-DELAY {
  color: $app-clr-purple-1;
}
